gtu/gtu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='consultarCedula'
	xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns="http://webservices.mppeuct.gob.ve/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://webservices.mppeuct.gob.ve/">
	<types>
		<xsd:schema targetNamespace="http://webservices.mppeuct.gob.ve/gtu">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
			<xsd:complexType name="Estructura">
				<xsd:all>
					<xsd:element name="error" type="xsd:int" />
					<xsd:element name="respuesta" type="xsd:Estructura[]" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArregloDeEstructuras">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:attribute ref="SOAP-ENC:arrayType"
							wsdl:arrayType="tns:Estructura[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>

	<!-- @TODO: Servicio 1 (consulta de Cedula) -->
	<message name='consultarCedulaRequest'>
		<part name='numero' type='tns:ArregloDeEstructuras' />
	</message>
	<message name='consultarCedulaResponse'>
		<part name="return" type="tns:ArregloDeEstructuras" />
	</message>
	<portType name='consultarCedulaPortType'>
		<operation name='consultarCedula'>
			<documentation>Consulta Cédula de Persona</documentation>
			<input message='tns:consultarCedulaRequest' />
			<output message='tns:consultarCedulaResponse' />
		</operation>
	</portType>
	<binding name='consultarCedulaBinding' type='tns:consultarCedulaPortType'>
		<soap:binding style='rpc'
			transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='consultarCedula'>
			<soap:operation soapAction='urn:xmethods-delayed-quotes#consultarCedula' />
			<input>
				<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
					encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
					encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	
	<service name='consultarCedulaService'>
		<port name='consultarCedulaPort' binding='consultarCedulaBinding'>
			<soap:address location='http://webservices.mppeuct.gob.ve/gtu/servicios.php' />
		</port>
	</service>

	<!-- Servicio 2: listados por día -->
	<message name='consultarEstatusCedulaRequest'>
		<part name='numero' type='tns:ArregloDeEstructuras' />
	</message>
	<message name='consultarEstatusCedulaResponse'>
		<part name="return" type="tns:ArregloDeEstructuras" />
	</message>
	<portType name='consultarEstatusCedulaPortType'>
		<operation name='consultarEstatusCedula'>
			<documentation>Consulta Estatus Solicitudes Persona</documentation>
			<input message='tns:consultarEstatusCedulaRequest' />
			<output message='tns:consultarEstatusCedulaResponse' />
		</operation>
	</portType>
	<binding name='consultarEstatusCedulaBinding'
		type='tns:consultarEstatusCedulaPortType'>
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name='consultarEstatusCedula'>
			<soap:operation
				soapAction='urn:xmethods-delayed-quotes#consultarCedula' />
			<input>
				<soap:body use='encoded'
					namespace='urn:xmethods-delayed-quotes'
					encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded'
					namespace='urn:xmethods-delayed-quotes'
					encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
	</binding>
	<service name='consultarEstatusCedulaService'>
		<port name='consultarEstatusCedulaPort' binding='consultarEstatusCedulaBinding'>
			<soap:address location='http://webservices.mppeuct.gob.ve/gtu/servicios.php' />
		</port>
	</service>
</definitions>
